/* 
body { */
  /* background-image: url('/images/otherbg.jpeg') !important;
  background-size: cover; */
  /* height: 100%; */
  /* margin: 0;
  min-height: 200vh;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} 

 @import url(https://fonts.googleapis.com/css?family=Gilda+Display); 

 /* html {
  background: radial-gradient(#000, #111);
  color: white;
  overflow: hidden;
  height: 100%;
  user-select: none;
}  */

.static {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  top: -100px;
  opacity: 0.05;
  z-index: 230;
  user-select: none;
}

.error {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 95px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  animation: noise 2s linear infinite;
  overflow: default;
}

.error:after {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 150px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  animation: noise-1 .2s linear infinite;
}

.info {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 0;
  right: 0;
  animation: noise-3 1s linear infinite;
}

.error:before {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  animation: noise-2 .2s linear infinite;
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}

.home-recipe {
  display: flex;
  padding: 40px;
}

.hero-img {
  border-left: 30px solid #343a40;
  border-top: 30px solid #343a40;
  border-bottom: 30px solid #343a40;
  box-shadow: 20px 20px 8px 0px #01828f;
}

.recipe-title {
  text-align: center;
}

.hero-recipe {
  
  border: 30px solid #343a40;
  box-shadow: 20px 20px 8px 0px #01828f;
}

ul {
  padding-top: 40px;
}
li {
  font-size: 1.3rem;
  list-style-type: none;
}

/* FOOTER STYLES */
/* footer.page-footer.cyan.font-small.darken-3.pt-0 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
} */

.btn-group {
  display: flex;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background:  #202A76;
  ;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
} 

/* footer.page-footer.indigo.font-small.darken-3.pt-0 {
  margin-top:-230px;
} */

/*FORM STYLE */

.auth-styles{
  margin-top:25vh;
  background-color: #f8f8ff;
  padding:60px;
  box-shadow: 9px 11px 20px #191970fc;
  border: .5px solid #191970fc;
}

/*BACKGROUND IMAGE FOR LOGIN????DOCUMENTATION SAYS THIS SHOULD WORK BUT DOESNT D<*/

/* .bg {
  background-image: url("/images/loginbg.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.login_bg{
  background-image: url('/images/otherbg.jpeg') !important;
  height:100vh;
  background-size: cover;
}

.signup_bg{
  background-image: url('/images/signupbggood.jpg') !important;
  height:100vh;
  background-size: cover;
}

button.btn-default.btn.Ripple-parent.peach-gradient {
  width: 30%; 
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #D93810;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #D93810;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/* Styling for Big Search Bar */

.head-div {
  background-color: #D93810;
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
  
}

.btn-secondary {
  background-color: #202A76 !important;
}

