
/* body {
  background-image: url('/images/otherbg.jpeg') !important;
  background-size: cover;
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  */

body {
  background-color: #F8F8FF;
  font-family: 'Roboto Slab', serif;
  font-family: 'Fjalla One', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} 

 @import url(https://fonts.googleapis.com/css?family=Gilda+Display); 

 /* html {
  background: radial-gradient(#000, #111);
  color: white;
  overflow: hidden;
  height: 100%;
  user-select: none;
}  */

.static {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  top: -100px;
  opacity: 0.05;
  z-index: 230;
  user-select: none;
}

.error {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 95px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  animation: noise 2s linear infinite;
  overflow: default;
}

.error:after {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 150px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  animation: noise-1 .2s linear infinite;
}

.info {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 0;
  right: 0;
  animation: noise-3 1s linear infinite;
}

.error:before {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  animation: noise-2 .2s linear infinite;
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}

.home-recipe {
  display: flex;
  padding: 40px;
  flex-direction: column;
}

.hero-img {
  border-left: 30px solid #343a40;
  border-top: 30px solid #343a40;
  border-bottom: 30px solid #343a40;
  box-shadow: 20px 20px 8px 0px #01828f;
}

.recipe-title {
  text-align: center;
}

.hero-recipe {
  
  border: 30px solid #343a40;
  box-shadow: 20px 20px 8px 0px #01828f;
}

ul {
  padding-top: 40px;
}
li {
  font-size: 1.3rem;
  list-style-type: none;
}

/* FOOTER STYLES */
/* footer.page-footer.cyan.font-small.darken-3.pt-0 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
} */

.btn-group {
  display: flex;
}

#App {
  font-family: 'Roboto Slab', serif;
  /* font-family: 'Fjalla One', sans-serif ; */

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  /* text-align: center; */

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background:  #202A76;
  ;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
} 

/* footer.page-footer.indigo.font-small.darken-3.pt-0 {
  margin-top:-230px;
} */

/*FORM STYLE */

.auth-styles{
  margin-top:25vh;
  background-color: #f8f8ff;
  padding:60px;
  box-shadow: 9px 11px 20px #191970fc;
  border: .5px solid #191970fc;
}

.md-form .prefix ~ label {
  margin-left: 3.5rem;
}

/*BACKGROUND IMAGE FOR LOGIN????DOCUMENTATION SAYS THIS SHOULD WORK BUT DOESNT D<*/

/* .bg {
  background-image: url("/images/loginbg.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.login_bg{
  background-image: url('/images/otherbg.jpeg') !important;
  height:100vh;
  background-size: cover;
}

.signup_bg{
  background-image: url('/images/signupbggood.jpg') !important;
  height:100vh;
  background-size: cover;
}


button.btn-default.btn.Ripple-parent.peach-gradient {
  width: 30%; 
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #D93810;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #D93810;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/* Styling for Big Search Bar */

.head-div {
  background-color: #D93810;
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
  
}

.btn-secondary {
  background-color: #202A76 !important;
}

#main-card {
  box-shadow: 9px 11px 20px #191970fc;
  border: .5px solid #191970fc;
}

#prep-time {
  margin-right: 2px;
}

.prof-title {
  text-align: right;
  padding: 8px;
  font-size: 1.2em;
  padding-right: 30px;
}

.sm-card {
  padding: 10px;
  margin: 10px 0px;


}

.settings {
  display: flex;
}

.past-recipes {
  display: flex;
  padding: 5px;
}

.settings-links {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7;
  
}


.settings-button {
  width: 150px;
  background-color: #191970fc !important;
  font-size: .9em;
}
.account-button {
  width: 100%;
  background-color: #191970fc !important;
  font-size: .9em;
}

.past-recipe-card {
  padding: 10px;
  margin: 10px;
}

.prof-cover {
  padding: 8px;
  width: 100%;

}

.form-group {
  padding: 20px;
  width: 70%;
}

.my-avatar {
  width: 300px;
  padding-right: 30px;
  
}

.prof-avatar {
  display: flex;
  flex-direction: row;
  
}

.my-avatar-header {
  margin-left: 25px;
}

.prof-list-item {
  background-color: #D93810;
}



#allergies {
  width: 95%;
  margin-left: 16px;
}


.diet-check {
  margin-right: 20px;
}

.diet-checkboxes {
  text-align: center;
}

/* Base for label styling -- CAUSING BUG FOR NEWRECIPE COMPONENT */
/* [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
} */

/* checkbox aspect */
/* [type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
} */
/* checked mark aspect */
/* [type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
} */
/* CODE ABOVE UP TO BASE LEVEL STYLING COMMENT IS CAUSING BUG FOR NEWRECIPE FORM */



/* checked mark aspect changes */
 [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
} 
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
} 
/* disabled checkbox */
 [type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
} 
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}


/* Paralax Settings */

.para-div {
  color: #191970fc;
  font-size: 1.2rem;
  margin: 30px;
  font-family: 'Roboto Slab', serif;
  font-family: 'Fjalla One', sans-serif;
}

.para-title {
  font-size: 3rem;
  color: #191970fc;
  margin: 30px;
  font-family: 'Fjalla One', sans-serif;
}

.recent-views {
  margin: 20px 20px;
}

.account-info {
  color: white;
}

div.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
Adding Random Page Styles */


.main-card-title {
  padding-top: 20px;
  font-size: 3rem;
}

.main-card-subtitle {
  padding: 30px;
  font-weight: 700;
  font-size: 1.2rem;
  border: 16px solid #191970fc;
  border-radius: 100%;
}

.main-card-image {
  padding: 30px;
}

.main-card-instructions {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
}

.main-card-source {
  text-decoration: none !important;
  color: white;
}

.prep-time {
  padding: 0px 12px;
  padding-left: 12px;
}

.btn-group {
  width: 50%;
}










